.heading {
    color:blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    background-color: gold;
}

.list-item {
    color: pink;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategrey;
}

#h2 {
    background-color: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
}